body {
  width: 100%;
  margin: 0%;
  font-family:'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(#ff80bf,white);
  background-repeat: no-repeat;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace}

@media(
  max-width:600px
){
  body{
    background-position: top;
    background-repeat: no-repeat;
    background-image: url("./components/UI/rupee.jpg")
  }
}